{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="css/login.css">
{% endblock %}

{% block body %}
<div class="row">
{{ form_start(form) }}

{{ form_row(form.email) }}

<button type="submit">Gönder!</button>
{{ form_end(form) }}
</div>
{% endblock %}