{% extends 'panel/panelbase.html.twig' %}
{% block body %}


<form action="{{ path ('panel_account_password_change')}}" method="post">
 <p>Mevcut Şifreniz: <input type="text" name="old_pass" /></p>
 <p>Yeni Şifre: <input type="text" name="new_pass" /></p>
 <p><input type="submit" /></p>
</form>{% endblock %}